.picture{
    width: 4rem;
    margin-right: .5rem;
}

.color1{
    background-color: #4d4c7d;
}

.color2{
    background-color: #363062;
}

.color3{
    background-color: #827397;
}

.color4{
   
    color: #ffffff;
}

.body{
    background: #5D4157;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.border{
    border-top: 1.1rem solid #4d4c7d;
    border-radius: 1rem;
}

.w3-text-teal, .w3-hover-text-teal:hover {
	color: #e198b0 !important;
}

.w3-teal, .w3-hover-teal:hover {
	color: #fff !important;
	background-color: #b34ebc !important;
}

.w3-white, .w3-hover-white:hover {
	color: #000 !important;
	background-color: #fff !important;
	border-radius: 1rem;
}

.w3-teal, .w3-hover-teal:hover {
	color: #fff !important;
    /* background: linear-gradient(to right, #A8CABA, #5D4157);  !important; */
    background: #FBD3E9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FBD3E9, #BB377D);;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(248, 182, 219), #BB377D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

